[user]
	name = que hengrong
	email = quehengrong@users.noreply.github.com

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	st = status -sb
	lg = log --graph --pretty=format:"%C(yellow)%h%Creset %C(green)%ad%Creset %s" --date=short
	co = checkout
	br = branch -vv
	last = log -1 HEAD
	unstage = restore --staged
	undo = reset --soft HEAD~1
	amend = commit --amend
